/* ***************************************************************************************************

	Description:	18F Prototype: core styles

	TABLE OF CONTENTS:
	------------------
		    I. Browser Resets
		   II. Global Options
				i. Font Color
		       ii. Text Align
			  iii. Font Size
		       iv. Text Transform
			    v. Floats
		  III. Import Fonts
		   IV. Template Frame
				i. Content Sections
			   ii. Content Section Background/Border Colors
			  iii. Media Queries
		    V. Content and Typography
				i. Global Content
					1. Global Typography
					2. Lists
		   VI. Header
				i. Header Logo
			   ii. Header Navigation
			  iii. Mobile Navigation
			   iv. Media Queries
		  VII. Content Region
				i. Content Images
			   ii. Content Columns
			  iii. Media Queries
		 VIII. Footer
				i. Footer Logo
			   ii. Footer Top Info
			  iii. Footer Bottom Info
			   iv. Media Queries
		   IX. Homepage FDA Dashboard

   *************************************************************************************************** */

/* *************************************************************************************************** */
/* I. Browser Resets ********************************************************************************* */
/* *************************************************************************************************** */
html, body {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased !important;
	-webkit-text-stroke: 0.0px;
	text-rendering: optimizeLegibility !important;
	}
	body {
		display: block;
		color: #393939;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 1;
		overflow-x: hidden;
		background-color: #2c2c2c;
		}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark,
audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	}

html, html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
    }

ul, ol {
	list-style: none;
	}

blockquote, q {
	quotes: none;
	
	&:before,
	&:after {
		content: '';
		content: none;
		}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	}

a {
	text-decoration: none;
	
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: 	color 0.3s ease-in-out;
	-ms-transition: 	color 0.3s ease-in-out;
	-o-transition: 		color 0.3s ease-in-out;
	transition: 		color 0.3s ease-in-out;
	
	&:hover {
		
		}
}

img {
	border: 0 none;
	}

sup,
sub {
	margin: 0;
	padding: 0;
	font-size: 10px;
	line-height: 0;
	}

button, input, optgroup, select, textarea {}

/* Mozilla Fix */
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0 none;
	}

/* Global Box Sizing */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: 	border-box;
	box-sizing: 		border-box;
	}

/* .clearfix, */
.clear {
	clear: both;
	*zoom: 1;
	margin: 0;
	padding: 0;
	display: block;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	outline: 0 none;
	border: 0 none;
	}



/* *************************************************************************************************** */
/* II. Global Options ******************************************************************************** */
/* *************************************************************************************************** */

/* ******************************************************** */
/* i. Font Color ****************************************** */
/* ******************************************************** */
.black 			{ color: #000; }
.blue 			{}
.darkgray,
.darkgrey 		{ color: #1e1e1e; }
.darkgreen 		{}
.gray,
.grey 			{ color: #393939; }
.green 			{ color: #739600; }
.lightgray,
.lightgray 		{ color: #f5f5f5; }
.lightgreen 		{ color: #cdcca0; }
.lighttan		{ color: #f5f5ec; }
.mediumgray,
.mediumgrey 		{ color: #777; }
.palegray,
.palegrey		{ color: #faf9f9; }
.white 			{ color: #fff; }



/* ******************************************************** */
/* ii. Text Align ***************************************** */
/* ******************************************************** */
.alignleft 		{ text-align: left !important; }
.aligncenter 	{ text-align: center !important; }
.alignright 		{ text-align: right !important; }



/* ******************************************************** */
/* iii. Font Size ***************************************** */
/* ******************************************************** */
small, .small {
	font-size: 10px;
	}

.font8  	{ font-size:  8px; line-height: 10px; }
.font9  	{ font-size:  9px; line-height: 11px; }
.font10 	{ font-size: 10px; line-height: 12px; }
.font11 	{ font-size: 11px; line-height: 13px; }
.font12 	{ font-size: 12px; line-height: 14px; }
.font13 	{ font-size: 13px; line-height: 15px; }
.font14 	{ font-size: 14px; line-height: 16px; }
.font15 	{ font-size: 15px; line-height: 17px; }
.font16 	{ font-size: 16px; line-height: 18px; }
.font17 	{ font-size: 17px; line-height: 19px; }
.font18 	{ font-size: 18px; line-height: 20px; }
.font20 	{ font-size: 20px; line-height: 22px; }
.font22 	{ font-size: 22px; line-height: 24px; }
.font24 	{ font-size: 24px; line-height: 26px; }
.font25 	{ font-size: 25px; line-height: 27px; }
.font26 	{ font-size: 26px; line-height: 28px; }
.font28 	{ font-size: 28px; line-height: 30px; }
.font30 	{ font-size: 30px; line-height: 32px; }
.font40 	{ font-size: 40px; line-height: 42px; }
.font50 	{ font-size: 50px; line-height: 52px; }
.font60 	{ font-size: 60px; line-height: 62px; }



/* ******************************************************** */
/* iv. Text Transform ************************************* */
/* ******************************************************** */
.notxttransform 	{ text-transform: none; }
.lowercase 		{ text-transform: lowercase; }
.uppercase 		{ text-transform: uppercase; }
.capitalize 		{ text-transform: capitalize; }



/* ******************************************************** */
/* v. Floats ********************************************** */
/* ******************************************************** */
.floatleft 		{ float: left !important; }
.floatright 		{ float: right !important; }
.nofloat 		{ float: none !important; }



/* *************************************************************************************************** */
/* III. Import Fonts ********************************************************************************* */
/* *************************************************************************************************** */

/* 18F Logo */
@font-face {
	font-family: '18flogo';
	src:url('../css/fonts/18flogo.eot?kxshwd');
	src:url('../css/fonts/18flogo.eot?#iefixkxshwd') format('embedded-opentype'),
		url('../css/fonts/18flogo.woff?kxshwd') format('woff'),
		url('../css/fonts/18flogo.ttf?kxshwd') format('truetype'),
		url('../css/fonts/18flogo.svg?kxshwd#18flogo') format('svg');
	font-weight: normal;
	font-style: normal;
}



/* *************************************************************************************************** */
/* IV. Template Frame ******************************************************************************** */
/* *************************************************************************************************** */
div.wrapper,
	div.wrapperouter,
		div.wrapperinner { height: 100%; }



/* ******************************************************** */
/* i. Content Sections ************************************ */
/* ******************************************************** */
div.sectionwrapper {}
	
	/* Individual Parent Sections */
	div.sectionwrapper.pageheader,
	div.sectionwrapper.bannersliderholder,
	div.sectionwrapper.newsbarholder,
	div.sectionwrapper.pagecontent,
	div.sectionwrapper.pagefooter {
		padding: 0 15px;
		}
		div.sectionwrapper.pageheader 	{ background-color: #fff; }
		div.sectionwrapper.newsbarholder 	{ background: #131313 url("../images/patterns/pattern_headerbar.png") top left; }
		div.sectionwrapper.pagecontent 	{ background-color: #fff; }
		div.sectionwrapper.pagefooter 	{}
	
	/* Sections Inside Container */
	div.sectioninside {
		margin: 0 auto;
		width: 100%;
		max-width: 1100px;
		}
		div.sectionwrapper.pageheader {
			div.sectioninside {
				position: relative;
				}
		}
		div.sectionwrapper.pagecontent {
			div.sectioninside {
				padding: 0 0 15px;
				}
			
			/* Homepage Info */
			&.homepageinfo {
				div.sectioninside {
					padding: 15px 0 45px;
					}
			}
		}



/* ******************************************************** */
/* ii. Content Section Background/Border Colors *********** */
/* ******************************************************** */
div.sectionwrapper {
	
	/* Gray Background */
	&.bkggray {
		border: 1px solid #e0e0e0;
		border-width: 1px 0;
		background-color: #ebebeb;
		}
}



/* ******************************************************** */
/* iii. Media Queries ************************************* */
/* ******************************************************** */




/* *************************************************************************************************** */
/* V. Content and Typography ************************************************************************* */
/* *************************************************************************************************** */

/* ******************************************************** */
/* i. Global Content ************************************** */
/* ******************************************************** */

/* **************************************** */
/* 1. Global Typography ******************* */
/* **************************************** */
div.sectionwrapper {
	h1 {}
	h2 {
		padding: 15px 0 10px;
		font-size: 1.90em;
		font-weight: normal;
		font-weight: 400;
		line-height: 1.15em;
		
		&.sectitle {
			padding: 30px 0;
			}
	}
	h3 {
		padding: 10px 0;
		font-size: 1.35em;
		font-weight: normal;
		line-height: 1.35em;
		}
	h4 {
		padding: 5px 0;
		font-size: 17px;
		line-height: 23px;
		}
	h5 {}
	h6 {}
	p {
		padding: 10px 0;
		font-size: 0.95em;
		line-height: 1.30em;
		}
}

div.slideitemcontent a,
div.pagecontent a {
	color: #4eaaf3;
	
	&:hover {
		color: #005395;
		}
}

div.admincontainer a {
	text-decoration: none;
	}



/* **************************************** */
/* 2. Lists ******************************* */
/* **************************************** */

/* Ordered and Unordered Lists */
div.sectionwrapper {
	
	/* Unordered List */
	ol {
		ol {
			ol {
				ol {
					
					}
			}
		}
	}
	
	/* Ordered List */
	ol {
		ol {
			ol {
				ol {
					
					}
			}
		}
	}
	
	/* List Element */
	li {
		font-size: 0.90em;
		line-height: 1.15em;
		}
}



/* *************************************************************************************************** */
/* VI. Header **************************************************************************************** */
/* *************************************************************************************************** */

/* ******************************************************** */
/* i. Header Logo ***************************************** */
/* ******************************************************** */
div.headerlogo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	float: left;
	overflow: hidden;
	
	a {
		position: relative;
		padding: 0;
		display: block;
		max-width: 175px;
		color: #303030;
		overflow: hidden;
		
		&:hover {
			color: #005395;
			}
		
		img {
			display: block;
			width: 100%;
			max-width: 175px;
			height: auto;
			}
	}
}



/* ******************************************************** */
/* ii. Header Navigation ********************************** */
/* ******************************************************** */
ul.headerlinkslist {
	margin: 0;
	padding: 0 0 0 150px;
	float: right;
	list-style-type: none;
	
	li {
		position: relative;
		margin: 0;
		display: block;
		float: left;
		
		> a {
			margin: 0 0 0 1px;
			padding: 20px 15px 17px;
			display: block;
			color: #303030;
			border-bottom: 3px solid transparent;
			text-transform: uppercase;
			
			-webkit-transition: color 0.2s ease-in-out,
								border-color 0.2s ease-in-out,
								background-color 0.2s ease-in-out;
			-moz-transition: 	color 0.2s ease-in-out,
								border-color 0.2s ease-in-out,
								background-color 0.2s ease-in-out;
			-ms-transition: 	color 0.2s ease-in-out,
								border-color 0.2s ease-in-out,
								background-color 0.2s ease-in-out;
			-o-transition: 		color 0.2s ease-in-out,
								border-color 0.2s ease-in-out,
								background-color 0.2s ease-in-out;
			transition: 		color 0.2s ease-in-out,
								border-color 0.2s ease-in-out,
								background-color 0.2s ease-in-out;
			}
		
		&.active a,
		&:hover a {
			padding-bottom: 17px;
			color: #005395;
			border-color: #005395;
			}
	}
}



/* ******************************************************** */
/* iii. Mobile Navigation ********************************* */
/* ******************************************************** */
div.mnavwrapper.headerlinksnav { display: none; }
div.mnavwrapper.headerlinksnav {
	position: relative;
	padding: 0 0 0 150px;
	width: 100%;
	}
	
	/* Mobile Nav Handle */
	div.mnavhandle {
		position: relative;
		margin: 0 0 5px;
		padding: 0;
		width: 100%;
		height: 57px;
		overflow: hidden;
		cursor: pointer;
		
		div.mhandleinner {
			position: absolute;
			top: 20px;
			right: 15px;
			width: 25px;
			cursor: pointer;
			
			span {
				margin: 0 0 3px;
				display: block;
				height: 4px;
				background-color: #656565;
				
				-webkit-transition: background-color 0.2s ease-in-out;
				-moz-transition: 	background-color 0.2s ease-in-out;
				-ms-transition: 	background-color 0.2s ease-in-out;
				-o-transition: 		background-color 0.2s ease-in-out;
				transition: 		background-color 0.2s ease-in-out;
				}
		}
		
		&.active div.mhandleinner span {
			background-color: #005395;
			}
	}
	
	/* Mobile Navigation List */
	ul.mobileheaderlinkslist {
		margin-bottom: 2px;
		margin-right: -15px;
		margin-left: -165px;
		display: none;
	
		li {
			display: block;
		
			a {
				padding: 10px 15px;
				display: block;
				color: #fafafa;
				font-size: 1.10em;
				border-bottom: 1px dashed #454545;
				background-color: #303030;
				
				-webkit-transition: background-color 0.2s ease-in-out;
				-moz-transition: 	background-color 0.2s ease-in-out;
				-ms-transition: 	background-color 0.2s ease-in-out;
				-o-transition: 		background-color 0.2s ease-in-out;
				transition: 		background-color 0.2s ease-in-out;
				}
			
			&:last-child a {
				border-bottom: 0 none;
			}
			
			&:hover a {
				background-color: #454545;
				}
			
			&.active a {
				background-color: #2f3945;
				}
		}
		
		ul li a {
			padding-left: 35px;
			font-size: 1.15em;
			background-color: #2b2b2b;
			}
	}



/* ******************************************************** */
/* v. Media Queries *************************************** */
/* ******************************************************** */

/*850px*/
@media screen and (min-width: 0) and (max-width: 850px){
	
	div.sectionwrapper.pageheader {}
		
		/* Non-mobile Navigation */
		ul.headerlinkslist { display: none; }
		
		/* Mobile Navigation */
		div.mnavwrapper.headerlinksnav { display: block; }
}



/* *************************************************************************************************** */
/* VII. Content Region ******************************************************************************* */
/* *************************************************************************************************** */

/* ******************************************************** */
/* i. Content Images ************************************** */
/* ******************************************************** */
img.contentimg {}
	
	/* Left */
	img.imgfloatleft {
		margin: 15px 15px 0 0;
		display: block;
		float: left;
		}
	
	/* Right */
	img.imgfloatright {
		margin: 15px 0 0 15px;
		display: block;
		float: right;
		}



/* ******************************************************** */
/* iii. Content Columns *********************************** */
/* ******************************************************** */
div.contentcolholder {
	position: relative;
	}
	div.contentcol {}
		
		/* ******************************************** */
		/* Two Column Equal *************************** */
		/* ******************************************** */
		div.contentcol.colequal {
			float: left;
			width: 50%;
			}
			div.contentcol.colequal.colleft { padding: 0 20px 0 0; }
			div.contentcol.colequal.colright { padding: 0 0 0 20px; }
		
		
		/* ******************************************** */
		/* Two Column with Sidebar ******************** */
		/* ******************************************** */
		div.contentcol.colright.sidebarpane {
			position: absolute;
			top: 0;
			z-index: 5;
			width: 250px;
			}
		
		/* Sidebar Right */
		div.contentcol.colleft.contentpane {
			padding: 0 290px 0 0;
			}
		div.contentcol.colright.sidebarpane {
			right: 0;
			}
		
		/* Sidebar Left */
		div.contentcol.colleft.sidebarpane {
			left: 0;
			}
		div.contentcol.colright.contentpane {
			padding: 0 0 0 290px;
			}



/* ******************************************************** */
/* iii. Media Queries ************************************* */
/* ******************************************************** */

/*850px*/
@media screen and (min-width: 0) and (max-width: 850px){
	
	/* Content Columns */
	div.contentcol.colequal.colleft,
	div.contentcol.colequal.colright {
		padding: 0;
		float: none;
		width: 100%;
		}
}

/*800px*/
@media screen and (min-width: 0) and (max-width: 800px){
	
	/* Content Columns */
	div.contentcolholder {
		height: auto !important;
		}
		div.contentcol.contentpane.colleft,
		div.contentcol.contentpane.colright,
		div.contentcol.sidebarpane.colleft,
		div.contentcol.sidebarpane.colright {
			padding: 0;
			float: none;
			width: 100%;
			}
			div.contentcol.sidebarpane.colleft,
			div.contentcol.sidebarpane.colright {
				position: static;
				top: auto;
				right: auto;
				left: auto;
				}
}



/* *************************************************************************************************** */
/* VIII. Footer ************************************************************************************** */
/* *************************************************************************************************** */
div.pagefooter {
	color: #777;
	font-size: 0.85em;
	
	div.sectioninside {
		padding-top: 25px;
		padding-bottom: 25px;
		}
}



/* ******************************************************** */
/* i. Footer Logo ***************************************** */
/* ******************************************************** */
div.footerlogo {
	a {
		margin: 0 auto 15px;
		display: block;
		width: 100%;
		max-width: 165px;
		
		span.footerlogoicon {
			display: block;
			
			img {
				display: block;
				width: 100%;
				height: auto;
				}
		}
	}
}



/* ******************************************************** */
/* ii. Footer Top Info ************************************ */
/* ******************************************************** */
div.ftrinfotop {
	margin: 0 -15px;
	padding: 10px 0 15px;
	color: #d5d5d5;
	overflow: hidden;
	
	/* Top Footer Typography */
	h3 {
		padding: 0;
		color: #b5b5b5;
		font-weight: 600;
		}
	
	p {
		color: #5a6167;
		line-height: 1.45em;
		}
	
	a {
		color: #428dc8;
		
		&:hover {
			color: #005395;
			}
	}
	
	/* Top Footer Columns */
	div.ftrcol {
		float: left;
		width: 33.33%;
		
		div.ftrcol_inner {
			padding: 0 15px;
			}
	}
}



/* ******************************************************** */
/* iii. Footer Bottom Info ******************************** */
/* ******************************************************** */
div.ftrinfobottom {
	padding: 20px 0 0;
	color: #a1a1a1;
	font-size: 0.80em;
	line-height: 1.45em;
	text-transform: uppercase;
	border-top: 1px solid #353535;
	
	a {
		color: #428dc8;
		
		&:hover {
			color: #005395;
			}
	}
}



/* ******************************************************** */
/* iv. Media Queries ************************************** */
/* ******************************************************** */

/*750px*/
@media screen and (min-width: 0) and (max-width: 750px){
	
	/* Top Footer Columns */
	div.ftrinfotop {
		margin: -15px 0;
		
		div.ftrcol {
			float: none;
			width: 100%;
			
			div.ftrcol_inner {
				padding: 15px 0;
				}
		}
	}
}

/*550px*/
@media screen and (min-width: 0) and (max-width: 550px){
	
	/* Bottom Footer */
	div.ftrinfobottom {
		text-align: center;
		
		a {
			display: block;
			}
	}
}



/* *************************************************************************************************** */
/* IX. Homepage FDA Dashboard ************************************************************************ */
/* *************************************************************************************************** */
#infoBox {
	padding: 3.5em 1em 1em 1em;
}
#infoBox span {
	font-size: 1.3em;
}
.us-states {
	fill: #a6a6a6;
}
.classButtons {
	padding-top: 0.9em;
	padding-left: 1em;
	width: 100%;
}
.typeButtons {
	
}




