html, body {
   font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
   font-size: 1.2em;
   background-color: #E2E2E2;
}
.us-states {
   fill: #A6A6A6;
}
.buttonContainer {
   padding-top: 0.9em;
   padding-right: 1.75em;
}